
  <div class="row center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
<div class="panel">
  <main>
<h4>Protected content</h4>
<p>
Here's a list of protected content.
</p>
  </main>
</div>
</div>
</div>

<div class="row center">
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
  </div>
</div>
