
  <div class="row center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
<div class="panel">
  <main>
<h4>Welcome to the FusionAuth DEMO application</h4>
<p>
<% if session[:user_jwt].nil? %>
Please <%= link_to "register", register_path %> or <%= link_to "login", login_path %>. 
<% else %>
Please <%= link_to "logout", logout_path %>.
<% end %>
</p>
  </main>
</div>
</div>
</div>

<div class="row center">
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
  </div>
</div>
